*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

.container_centred{
    width: 80%;
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
}

/* ----------------------------------------------------------
HEADER
---------------------------------------------------------- */
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    width: 100%;
}

.header_bg{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 105, 0);
}

header .menu_wrapper{
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    color: white;
}

header .left_menu a{
    font-size: 0.8em;
    text-decoration: none;
    padding: 0px 0.5em;
    color:rgb(236, 234, 234)
}

header .left_menu a:hover{
    color: white;
}

header .right_menu .right_content{
    width: 20px;
    filter: invert(0.9);
    cursor: pointer;
}

header .right_menu img:hover{
    filter:invert(1)
}

header .logo img{
    height: 25px;
}
/* ----------------------------------------------------------
fine HEADER
---------------------------------------------------------- */

/* ----------------------------------------------------------
MAIN
---------------------------------------------------------- */
main .main_inner{
    margin-top: 70px;
}

main .card_wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* CARD */

.card{
    position: relative;

    width: 32%;

    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

/* Immagini */
.card .container_img{
    position: relative;
}

.card .container_img img{
    width: 100%;
}

.container_img .img_hover{
    position: absolute;
    top:0;
    left: 0;

    opacity: 0;
    transition: opacity 1s;
}

.card_wrapper .card:hover .img_hover{
    opacity: 1;
}

/* TEXT */
.text_container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.text_container .item_march{
    font-size:0.8em;
}

.text_container .price_wrapper .item_price{
    font-size: 0.9em;
    color: red;
    font-weight: 600;
}

.text_container .price_wrapper .item_old_price{
    font-size: 0.8em;
    color: gray;
    text-decoration:line-through;
}

/* Elementi Absolute */
.container_img .sale_wrapper{
    display: flex;
    gap: 10px;

    color: white;
    font-size: 0.8em;

    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 1;
}

.sale_wrapper .sale_box{
    padding: 2px 8px;
    background-color: rgb(240, 2, 2);
}

.sale_wrapper .sosten{
    padding: 2px 15px;
    background-color: rgb(0, 167, 17);
}


.heart_container .heart{
    position: absolute;
    top:30px;
    right: 0;
    z-index: 1;

    cursor: pointer;

    padding: 5px 10px;
    font-size: 1.5em;

    background-color: white;
}

.heart_container .heart:hover{
    color: red;
}
/* fineCARD */

/* ----------------------------------------------------------
fine MAIN
---------------------------------------------------------- */


footer{
    background-color: rgb(26, 26, 26);
    color: white;
}

footer .container_centred{
    display: flex;
    justify-content: space-between;

    padding : 20px 0;
}

footer .footer_text{
    display: flex;
    flex-flow: column;
}

footer .footer_text ul{
    display: flex;
    gap:10px;
}
footer .footer_text ul li{
    list-style-type: none;
}

footer .footer_text ul li a{
    text-decoration: none;
    color: rgb(227, 227, 227);
    font-size: 0.8em;
}

footer .footer_text ul li a:hover{
    color: white;
}

footer .social_section strong{
    font-size: 0.8em;
}

footer .social_section .social_wrapper img{
    cursor: pointer;
    filter: invert(0.85);
    width: 20px;
}
footer .social_section .social_wrapper img:hover{
    filter: invert(1);
}

footer .social_section .social_wrapper #pinterest{
    width: 18px;
    height: 18px;
}